ENVIRONMENT='local'
BOT_NAME='DEV Local - Mon Deno Grammy Starter Bot'
BOT_TOKEN='<TON_BOT_TOKEN>'
BOT_ADMIN=<TID_TELEGRAM>
AWS_SECRET_KEY='<AWS_SECRET_KEY>'
AWS_ACCESS_KEY='<AWS_ACCESS_KEY>'
AWS_CONV_BUCKET_NAME='<YOUR_CONV_BUCKET_NAME>'
AWS_KV_BACKUP_BUCKET_NAME='<YOUR_KV_BACKUP_BUCKET_NAME>'
MAINTENANCE='OFF'